{{> menu}}

<form class="box" action="/category/{{category._id}}/updateplacemark/{{placemark._id}}" method="POST">
  <label>Update Placemark Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" name="title" , placeholder="title" value={{placemark.title}}>
      </div>
      <div class="field">
        <input class="input" type="text" name="description" placeholder="description" value={{placemark.description}}>
      </div>
      <div class="field">
        <input class="input" type="text" name="latitude" placeholder="latitude" value={{placemark.latitude}}>
      </div>
      <div class="field">
        <input class="input" type="text" name="longitude" placeholder="longitude" value={{placemark.longitude}}>
      </div>
    </div>
  </div>
  {{#if placemark.image}}
  <figure class="image is-fullwidth">
    <img src={{placemark.image}}>
  </figure>
  {{/if}}
  <button class="button is-primary is-fullwidth">Update Placemark</button>
</form>