<div class="columns is-multiline">
  {{#each category.placemarks}}
  <div class="column is-one-third">
    <div class="card">
      <div class="card-content">
        <p class="title">{{title}}</p>
        <p class="subtitle is-6">{{latitude}} , {{longitude}}</p>
        <div class="content">{{description}}</div>
        <div class="card-image">
          {{> placemark-image }}
        </div>
      </div>
      <footer class="card-footer">
        <a href="/category/{{../category._id}}/editplacemark/{{_id}}" class="card-footer-item">
          <i class="fas fa-edit"></i>
        </a>
        <a href="/category/{{../category._id}}/deleteplacemark/{{_id}}" class="card-footer-item">
          <i class="fas fa-trash"></i>
        </a>
      </footer>
    </div>
  </div>
  {{/each}}
</div>
{{!-- Select ALL classes and iterate over them to fix the bug of not updating span file-name text --}}
<script>
  const fileInputsList = document.querySelectorAll(".file-input");
  fileInputsList.forEach(fileInput => {
    fileInput.addEventListener('change', (event) => {
      if (fileInput.files.length > 0) {
        const fileName = fileInput.parentElement.querySelector(".file-name");
        fileName.textContent = fileInput.files[0].name;
      }
    });
  });
</script>